
/* #main-page
{
  background-image: url('image/tag-image.jpg');
  background-position:center;
 background-repeat:no-repeat;
 background-size:cover;
} */
.navbar-brand
{
  font-size: 30px;
}

.navbar-nav
{
  font-size: 18px;
}

.btech1
{
  margin-top:100px;
}



.bg {
  /* The image used */
  background-image: url("img/scroll.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

