
/* #main-page
{
  background-image: url('image/tag-image.jpg');
  background-position:center;
 background-repeat:no-repeat;
 background-size:cover;
} */
.navbar-brand
{
  font-size: 30px;
}

.navbar-nav
{
  font-size: 18px;
}

