.navbar-brand
{
  font-size: 30px;
}

.navbar-nav
{
  font-size: 18px;
}

.tag-line
{
   background-image: url('image/tag-image.jpg');
   background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
  height:300px;
}
